@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body{
  background: #ecf0f3;
}
.success{
    color: green;
}
.header-div{
    width: 100%;
    background-color: aqua;
}
.college-web{
    float: right;
    background-color: rgb(242, 0, 255);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-top: 12px;
}
.college-web:hover{
  background-color: rgb(239, 99, 239);
  color: azure;
  border: 3px solid black;
}
.main{
    
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
    margin-top: 0px;
}
.container {
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-top: -230px;
}
.container1 {
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin-top: -230px;
  }

.brand-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}
button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }
  /*Marque Animation*/
marquee{
    z-index: 1;
  }
  
  .title-word {
      animation: color-animation 1s linear infinite;
      border: 1px solid black;
      border-radius: 1000px 200px 200px 1000px;
    }
    
    .title-word-1 {
      --color-1: #f70606;
      --color-2: #f3ef08;
      --color-3: #00ff0d;
    }
    @keyframes color-animation {
      0%    {color: var(--color-1)}
      32%   {color: var(--color-1)}
      33%   {color: var(--color-2)}
      65%   {color: var(--color-2)}
      66%   {color: var(--color-3)}
      99%   {color: var(--color-3)}
      100%  {color: var(--color-1)}
    }
    
    /*End of Marque Animation*/
  
footer{
    background-color: aquamarine;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.flex-item-left{

    padding: 40px;
    flex: 50%;
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin-top: 7%;
    margin-bottom:7%;
    margin-left: 8%;
    margin-right: 7%;  
}
.flex-item-left:hover{
  background-color: #cfd1d4;
  box-shadow: 20px 15px 15px rgb(75, 73, 73);
}
.flex-item-right:hover{
  background-color: #cfd1d4;
  box-shadow: 20px 15px 15px rgb(75, 73, 73);
}
a:link{
  text-decoration: none;
}
.flex-item-right{
    padding: 40px;
    flex: 50%;
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin-top: 7%;
    margin-bottom:7%;
    margin-left: 8%;
    margin-right: 7%;

}
/* Responsive layouts */
@media (max-width: 800px) {
    .flex-container{
        flex-direction: column;
    } 
}
